@model Piedone.ThemeOverride.ViewModels.EditorViewModel

@{
    Layout.Title = T("Theme Override Settings");
    
    Style.Include("theme-override-admin.css");
    Script.Require("AceEditor.NoConflict").AtFoot();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.HiddenFor(m => m.StyleOverride)

    <fieldset>
        <legend>@T("Theme Override Settings")</legend>
        @Html.LabelFor(m => m.StyleOverride, T("Styling (css)"))
        <div id="theme-override-style-override-editor">@Model.StyleOverride</div>
        <span class="hint">@T("This stylesheet will be included last, so you can override any styling.")</span>
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
    </fieldset>
}

@using (Script.Foot())
{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                var styleEditor = ace.edit("theme-override-style-override-editor");
                styleEditor.getSession().setMode("ace/mode/css");

                var $styleOverride = $("#@Html.FieldIdFor(m => m.StyleOverride)");
                $($styleOverride[0].form).submit(function () {
                    $styleOverride.val(styleEditor.getValue());
                });
            });
        })(jQuery);
    </script>
}
